[Unit]
Description=Hyperliquid FIFO listener
After=network-online.target
Wants=network-online.target
PartOf=hyperliquid.service

[Service]
Type=simple
User=@RUN_USER@
UMask=0022
WorkingDirectory=@ROOT@
Environment=RUST_LOG=info
ExecStart=@ROOT@/fifo_listener
KillSignal=SIGINT
Restart=always

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=false
ProtectSystem=full
ReadWritePaths=@ROOT@
SyslogIdentifier=fifo
Slice=hl_runtime.slice
