[Unit]
Description=Hyperliquid runtime maintenance (5min)
After=local-fs.target
RequiresMountsFor=@ROOT@/hl @ROOT@/hl_book @ROOT@/hl_tmp

[Service]
Type=oneshot
User=@RUN_USER@
WorkingDirectory=@ROOT@
ExecStart=/usr/bin/find @ROOT@/hl/periodic_abci_states -type f -mmin +3 -delete
ExecStart=/bin/bash -c 'cd @ROOT@/hl/hyperliquid_data/evm_db_hub_slow/checkpoint && ls -d */ | sed "s:/$::" | sort -nr | tail -n +3 | xargs -r rm -rf'

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=false
ProtectSystem=full
ReadWritePaths=@ROOT@
Slice=hl_runtime.slice
